
{% extends 'layouts/layout.html.twig' %}
{% block title %}Blog - Nadiia Yahnych{% endblock %}
{% block content %}

{#    @if(isset($_GET['search']))#}
{#        @if(count($posts)>0)#}
{#            <h2>Result for "{{htmlspecialchars($_GET['search'])}}"</h2>#}
{#            <p class="lead">Total found "{{count($posts)}}" posts</p>#}
{#        @else#}
{#            <h2>We didn't find any result for "{{htmlspecialchars($_GET['search'])}}". Sorry</h2>#}
{#            <a href="{{route('post.index')}}" class="btn btn-outline-primary">Show all posts</a>#}
{#        @endif#}
{#    @endif#}
{#    <div class="row">#}
    <div class="blog">
        {% for post in posts %}
            <div class="col-6">
                <div class="card">
                    <div class="card-header"><h2>{{ post.shortTitle}}</h2></div>
                    <div class="card-body">
                        <div class="card-img" style="background-image: url({{ asset('uploads/posts/' ~ post.img) }})"></div>
                       <a href="{{ path('post_show',{'id' : post.id}) }}" class="btn btn-outline-primary">Show post</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{#    @if(!isset($_GET['search']))#}
{#        {{$posts->links('vendor.pagination.bootstrap-4')}}#}
{#    @endif#}
{% endblock %}
