
{% extends 'layouts/layout.html.twig' %}
{% block title %}{{ 'post.title'|trans }}{% endblock %}
{% block content %}



    {% if app.request.query.get("search") %}
        {% if pagination|length > 0 %}
            <h2>{{ 'post.searchResult'|trans }}"{{app.request.query.get("search")|striptags}}"</h2>
            <p class="lead">{{ 'post.serachQuery'|trans }} "{{pagination|length}}" posta</p>
        {% else %}
            <h2>{{ 'post.searchNull'|trans }} "{{app.request.query.get("search")|striptags}}".</h2>
            <a href="{{path('post_index')}}" class="btn btn-outline-primary">{{ 'post.allPost'|trans }}</a>
        {% endif %}
    {% endif %}
    <div class="blog">
        {% for post in pagination %}
            <div class="col-6">
                <div class="card">
                    <div class="card-header"><h2>{{ post.shortTitle}}</h2></div>
                    <div class="card-body">
                        <div class="card-img" style="background-image: url({{ asset('uploads/posts/' ~ post.img) }})"></div>
                       <a href="{{ path('post_show',{'id' : post.id}) }}" class="btn btn-outline-primary">{{ 'post.more'|trans }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
