
{% extends 'layouts/layout.html.twig' %}
{% block title %}Blog - Nadiia Yahnych{% endblock %}
{% block content %}


{#    <div class="row">#}
    {% if app.request.query.get("search") %}
        {% if pagination|length > 0 %}
            <h2>Resultat dla "{{app.request.query.get("search")|striptags}}"</h2>
            <p class="lead">Znależioni "{{pagination|length}}" posta</p>
        {% else %}
            <h2>Nie udalo się znależć żadnego rezultatu "{{app.request.query.get("search")|striptags}}".</h2>
            <a href="{{path('post_index')}}" class="btn btn-outline-primary">Pokazać wszystki posty</a>
        {% endif %}
    {% endif %}
    <div class="blog">
        {% for post in pagination %}
            <div class="col-6">
                <div class="card">
                    <div class="card-header"><h2>{{ post.shortTitle}}</h2></div>
                    <div class="card-body">
                        <div class="card-img" style="background-image: url({{ asset('uploads/posts/' ~ post.img) }})"></div>
                       <a href="{{ path('post_show',{'id' : post.id}) }}" class="btn btn-outline-primary">Show post</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
    {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
